{{>layouts/header}}
<!--content-->
<div class="bg-dark text-white p-5">
    <h1>{{username}}님 반갑습니다!</h1>
</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
{{>layouts/footer}}